body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hwb(0 98% 0%);
}

header {
    background-color: hsl(118, 94%, 41%);
    color: hwb(0 100% 0%);
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
}

h2 {
    color: hsl(0, 0%, 7%);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: none;
    background-color: hwb(234 0% 0%);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.info {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgb(180, 180, 180);
}